Node-RED/Ueberwachung Core.json
[
    {
        "id": "b4e3d0afb3f37109",
        "type": "tab",
        "label": "Ueberwachung",
        "disabled": false,
        "info": ""
    },
    {
        "id": "13f351a88fbb90ce",
        "type": "http in",
        "z": "b4e3d0afb3f37109",
        "name": "",
        "url": "/veranstaltung/:veranstaltung/buffet/:buffet/chafingdish/:chafingdish",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 390,
        "y": 1200,
        "wires": [
            [
                "996c3a646c36b38f"
            ]
        ]
    },
    {
        "id": "82b427e3a16ca68a",
        "type": "http response",
        "z": "b4e3d0afb3f37109",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 990,
        "y": 1200,
        "wires": []
    },
    {
        "id": "996c3a646c36b38f",
        "type": "function",
        "z": "b4e3d0afb3f37109",
        "name": "function 6",
        "func": "var topic = `veranstaltung/${msg.req.params.veranstaltung}/buffet/${msg.req.params.buffet}/chafingdish/${msg.req.params.chafingdish}`;\n\n\nif(global.get(topic) === undefined){\n    msg.payload = \"No data available.\"\n    msg.statusCode = 404;\n} else {\n    msg.payload =global.get(topic);\n    msg.statusCode = 200;\n}\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 1200,
        "wires": [
            [
                "82b427e3a16ca68a"
            ]
        ]
    },
    {
        "id": "ce3e58785a83fa1b",
        "type": "mqtt in",
        "z": "b4e3d0afb3f37109",
        "name": "",
        "topic": "veranstaltung/+/buffet/+/chafingdish/+/production",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "bc0c28a7c7257b64",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 540,
        "y": 920,
        "wires": [
            [
                "b2d676cb0c0fa9ec"
            ]
        ]
    },
    {
        "id": "9a2c171726c78ae1",
        "type": "http in",
        "z": "b4e3d0afb3f37109",
        "name": "",
        "url": "/veranstaltung/:veranstaltung/buffet/:buffet/chafingdish/:chafingdish/production",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 430,
        "y": 1260,
        "wires": [
            [
                "273a963a82cefceb"
            ]
        ]
    },
    {
        "id": "273a963a82cefceb",
        "type": "function",
        "z": "b4e3d0afb3f37109",
        "name": "function 14",
        "func": "var topic = `veranstaltung/${msg.req.params.veranstaltung}/buffet/${msg.req.params.buffet}/chafingdish/${msg.req.params.chafingdish}/production`;\n\nif(global.get(topic) === undefined){\n    msg.payload = \"No data available.\"\n    msg.statusCode = 404;\n} else {\n    msg.payload =global.get(topic);\n    msg.statusCode = 200;\n}\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 1260,
        "wires": [
            [
                "fa9d935d8bf1f066"
            ]
        ]
    },
    {
        "id": "fa9d935d8bf1f066",
        "type": "http response",
        "z": "b4e3d0afb3f37109",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 990,
        "y": 1260,
        "wires": []
    },
    {
        "id": "b2d676cb0c0fa9ec",
        "type": "function",
        "z": "b4e3d0afb3f37109",
        "name": "function 15",
        "func": "\nglobal.set(msg.topic, \"none\");\nglobal.set(msg.topic, msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "ba2cefc3746f9395",
        "type": "amqp-in",
        "z": "b4e3d0afb3f37109",
        "name": "",
        "broker": "d9e182c6cf4e826b",
        "prefetch": 0,
        "noAck": true,
        "exchangeName": "Ueberwachung",
        "exchangeType": "direct",
        "exchangeRoutingKey": "Ueberwachung",
        "exchangeDurable": true,
        "queueName": "",
        "queueExclusive": true,
        "queueDurable": false,
        "queueAutoDelete": true,
        "headers": "{}",
        "x": 310,
        "y": 60,
        "wires": [
            [
                "b6a387f26aaa13dc"
            ]
        ]
    },
    {
        "id": "ae70a7e86a77c81a",
        "type": "comment",
        "z": "b4e3d0afb3f37109",
        "name": "Konfig anwenden",
        "info": "",
        "x": 80,
        "y": 60,
        "wires": []
    },
    {
        "id": "326cc2d674c9071b",
        "type": "function",
        "z": "b4e3d0afb3f37109",
        "name": "function 50",
        "func": "\nmsg.routingKey = msg.buffer[0].uuidedgedevice;\nmsg.payload = {\n    Buffet: msg.buffer[0].buffetid,\n    Chafingdish: msg.buffer[0].chafingdishid,\n    Gericht: msg.buffer[0].gericht,\n    Veranstaltung: msg.buffer[0].veranstaltung\n}\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 240,
        "wires": [
            [
                "a126a914321b17a5",
                "907ab3011d8d8935"
            ]
        ]
    },
    {
        "id": "907ab3011d8d8935",
        "type": "switch",
        "z": "b4e3d0afb3f37109",
        "name": "",
        "property": "msg.buffer.1",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nnull"
            },
            {
                "t": "null"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 910,
        "y": 220,
        "wires": [
            [
                "5c002f5e9355d192"
            ],
            []
        ]
    },
    {
        "id": "5c002f5e9355d192",
        "type": "function",
        "z": "b4e3d0afb3f37109",
        "name": "function 51",
        "func": "//msg.buffer.slice(1);\n\nfor (var i = 0; i < msg.buffer.length - 1; i++) {\n    msg.buffer[i] = msg.buffer[i + 1]\n}\ndelete msg.buffer[msg.buffer.length - 1];\n//node.warn(msg.buffer);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 140,
        "wires": [
            [
                "326cc2d674c9071b"
            ]
        ]
    },
    {
        "id": "6574f2adce7d8f69",
        "type": "amqp-out",
        "z": "b4e3d0afb3f37109",
        "name": "",
        "broker": "d9e182c6cf4e826b",
        "exchangeName": "a1:6d:aa:11:14:ca",
        "exchangeType": "direct",
        "exchangeRoutingKey": "",
        "exchangeRoutingKeyType": "str",
        "exchangeDurable": false,
        "amqpProperties": "{ \"headers\": {} }",
        "rpcTimeoutMilliseconds": 3000,
        "outputs": 0,
        "x": 1550,
        "y": 80,
        "wires": []
    },
    {
        "id": "baa0bb9b99f5ec82",
        "type": "amqp-out",
        "z": "b4e3d0afb3f37109",
        "name": "",
        "broker": "d9e182c6cf4e826b",
        "exchangeName": "a1:6d:aa:11:24:ca",
        "exchangeType": "direct",
        "exchangeRoutingKey": "",
        "exchangeRoutingKeyType": "str",
        "exchangeDurable": false,
        "amqpProperties": "{ \"headers\": {} }",
        "rpcTimeoutMilliseconds": 3000,
        "outputs": 0,
        "x": 1550,
        "y": 120,
        "wires": []
    },
    {
        "id": "b9789ff3e003576d",
        "type": "amqp-out",
        "z": "b4e3d0afb3f37109",
        "name": "",
        "broker": "d9e182c6cf4e826b",
        "exchangeName": "a1:6d:aa:11:34:ca",
        "exchangeType": "direct",
        "exchangeRoutingKey": "",
        "exchangeRoutingKeyType": "str",
        "exchangeDurable": false,
        "amqpProperties": "{ \"headers\": {} }",
        "rpcTimeoutMilliseconds": 3000,
        "outputs": 0,
        "x": 1550,
        "y": 160,
        "wires": []
    },
    {
        "id": "59ec194521a09c4c",
        "type": "amqp-out",
        "z": "b4e3d0afb3f37109",
        "name": "",
        "broker": "d9e182c6cf4e826b",
        "exchangeName": "a1:6d:aa:11:44:ca",
        "exchangeType": "direct",
        "exchangeRoutingKey": "",
        "exchangeRoutingKeyType": "str",
        "exchangeDurable": false,
        "amqpProperties": "{ \"headers\": {} }",
        "rpcTimeoutMilliseconds": 3000,
        "outputs": 0,
        "x": 1550,
        "y": 200,
        "wires": []
    },
    {
        "id": "718af94f3fa94777",
        "type": "amqp-out",
        "z": "b4e3d0afb3f37109",
        "name": "",
        "broker": "d9e182c6cf4e826b",
        "exchangeName": "a1:6d:aa:11:54:ca",
        "exchangeType": "direct",
        "exchangeRoutingKey": "",
        "exchangeRoutingKeyType": "str",
        "exchangeDurable": false,
        "amqpProperties": "{ \"headers\": {} }",
        "rpcTimeoutMilliseconds": 3000,
        "outputs": 0,
        "x": 1550,
        "y": 240,
        "wires": []
    },
    {
        "id": "f916b9d3dc73b57e",
        "type": "amqp-out",
        "z": "b4e3d0afb3f37109",
        "name": "",
        "broker": "d9e182c6cf4e826b",
        "exchangeName": "a1:6d:aa:11:64:ca",
        "exchangeType": "direct",
        "exchangeRoutingKey": "",
        "exchangeRoutingKeyType": "str",
        "exchangeDurable": false,
        "amqpProperties": "{ \"headers\": {} }",
        "rpcTimeoutMilliseconds": 3000,
        "outputs": 0,
        "x": 1550,
        "y": 280,
        "wires": []
    },
    {
        "id": "24ea38ac84d38588",
        "type": "amqp-out",
        "z": "b4e3d0afb3f37109",
        "name": "",
        "broker": "d9e182c6cf4e826b",
        "exchangeName": "a1:6d:aa:11:74:ca",
        "exchangeType": "direct",
        "exchangeRoutingKey": "",
        "exchangeRoutingKeyType": "str",
        "exchangeDurable": false,
        "amqpProperties": "{ \"headers\": {} }",
        "rpcTimeoutMilliseconds": 3000,
        "outputs": 0,
        "x": 1550,
        "y": 320,
        "wires": []
    },
    {
        "id": "60592de95cc687f9",
        "type": "amqp-out",
        "z": "b4e3d0afb3f37109",
        "name": "",
        "broker": "d9e182c6cf4e826b",
        "exchangeName": "a1:6d:aa:11:84:ca",
        "exchangeType": "direct",
        "exchangeRoutingKey": "",
        "exchangeRoutingKeyType": "str",
        "exchangeDurable": false,
        "amqpProperties": "{ \"headers\": {} }",
        "rpcTimeoutMilliseconds": 3000,
        "outputs": 0,
        "x": 1550,
        "y": 360,
        "wires": []
    },
    {
        "id": "3f73c851815f187c",
        "type": "amqp-out",
        "z": "b4e3d0afb3f37109",
        "name": "",
        "broker": "d9e182c6cf4e826b",
        "exchangeName": "a1:6d:aa:11:94:ca",
        "exchangeType": "direct",
        "exchangeRoutingKey": "",
        "exchangeRoutingKeyType": "str",
        "exchangeDurable": false,
        "amqpProperties": "{ \"headers\": {} }",
        "rpcTimeoutMilliseconds": 3000,
        "outputs": 0,
        "x": 1550,
        "y": 400,
        "wires": []
    },
    {
        "id": "a126a914321b17a5",
        "type": "switch",
        "z": "b4e3d0afb3f37109",
        "name": "",
        "property": "routingKey",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "a1:6d:aa:11:14:ca",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "a1:6d:aa:11:24:ca",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "a1:6d:aa:11:34:ca",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "a1:6d:aa:11:44:ca",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "a1:6d:aa:11:54:ca",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "a1:6d:aa:11:64:ca",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "a1:6d:aa:11:74:ca",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "a1:6d:aa:11:84:ca",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "a1:6d:aa:11:94:ca",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "a1:6d:aa:21:14:ca",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "a1:6d:aa:21:24:ca",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "a1:6d:aa:21:34:ca",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "a1:6d:aa:21:44:ca",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "a1:6d:aa:21:54:ca",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "a1:6d:aa:21:64:ca",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "a1:6d:aa:21:74:ca",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "a1:6d:aa:21:84:ca",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "a1:6d:aa:21:94:ca",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "a1:6d:aa:31:14:ca",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "a1:6d:aa:31:24:ca",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "a1:6d:aa:31:34:ca",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "a1:6d:aa:31:44:ca",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "a1:6d:aa:31:54:ca",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "a1:6d:aa:31:64:ca",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "a1:6d:aa:31:74:ca",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "a1:6d:aa:31:84:ca",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "a1:6d:aa:31:94:ca",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "a1:6d:aa:41:14:ca",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "a1:6d:aa:41:24:ca",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "a1:6d:aa:41:34:ca",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "a1:6d:aa:41:44:ca",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "a1:6d:aa:41:54:ca",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "a1:6d:aa:41:64:ca",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "a1:6d:aa:41:74:ca",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "a1:6d:aa:41:84:ca",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "a1:6d:aa:41:94:ca",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 36,
        "x": 1290,
        "y": 320,
        "wires": [
            [
                "6574f2adce7d8f69"
            ],
            [
                "baa0bb9b99f5ec82"
            ],
            [
                "b9789ff3e003576d"
            ],
            [
                "59ec194521a09c4c"
            ],
            [
                "718af94f3fa94777"
            ],
            [
                "f916b9d3dc73b57e"
            ],
            [
                "24ea38ac84d38588"
            ],
            [
                "60592de95cc687f9"
            ],
            [
                "3f73c851815f187c"
            ],
            [
                "d66c1f14cca01931"
            ],
            [
                "e8cd015da709627b"
            ],
            [
                "ea27f511a7cb4ea5"
            ],
            [
                "24f8f2e33fad8315"
            ],
            [
                "85bb392474fece94"
            ],
            [
                "d9e5777ed27d2f25"
            ],
            [
                "ca959a21ceb862f8"
            ],
            [
                "21041f1f821d5926"
            ],
            [
                "05be1f0cf2bcb7fe"
            ],
            [
                "45dd0955c44d3ae5"
            ],
            [
                "5384f4331eaad3f5"
            ],
            [
                "d0ac3c75674ec439"
            ],
            [
                "dce2488378fd5df3"
            ],
            [
                "8a8d7ed955660119"
            ],
            [
                "494c1dda978d42e2"
            ],
            [
                "d39ee8a2e5e0e56d"
            ],
            [
                "6da42e2c84fe600d"
            ],
            [
                "1816846a611ab421"
            ],
            [
                "1b89524f1577755a"
            ],
            [
                "fb49df408604166d"
            ],
            [
                "57573fcc7349751c"
            ],
            [
                "a3755f80c0b21eab"
            ],
            [
                "56dbe0b9b0d7fcdc"
            ],
            [
                "b63f74375beaff76"
            ],
            [
                "31e3e48081d1e25b"
            ],
            [
                "2f56dd4fbf27456e"
            ],
            [
                "c6f599aefbac05d4"
            ]
        ]
    },
    {
        "id": "d66c1f14cca01931",
        "type": "amqp-out",
        "z": "b4e3d0afb3f37109",
        "name": "",
        "broker": "d9e182c6cf4e826b",
        "exchangeName": "a1:6d:aa:21:14:ca",
        "exchangeType": "direct",
        "exchangeRoutingKey": "",
        "exchangeRoutingKeyType": "str",
        "exchangeDurable": false,
        "amqpProperties": "{ \"headers\": {} }",
        "rpcTimeoutMilliseconds": 3000,
        "outputs": 0,
        "x": 1790,
        "y": 80,
        "wires": []
    },
    {
        "id": "e8cd015da709627b",
        "type": "amqp-out",
        "z": "b4e3d0afb3f37109",
        "name": "",
        "broker": "d9e182c6cf4e826b",
        "exchangeName": "a1:6d:aa:21:24:ca",
        "exchangeType": "direct",
        "exchangeRoutingKey": "",
        "exchangeRoutingKeyType": "str",
        "exchangeDurable": false,
        "amqpProperties": "{ \"headers\": {} }",
        "rpcTimeoutMilliseconds": 3000,
        "outputs": 0,
        "x": 1790,
        "y": 120,
        "wires": []
    },
    {
        "id": "ea27f511a7cb4ea5",
        "type": "amqp-out",
        "z": "b4e3d0afb3f37109",
        "name": "",
        "broker": "d9e182c6cf4e826b",
        "exchangeName": "a1:6d:aa:21:34:ca",
        "exchangeType": "direct",
        "exchangeRoutingKey": "",
        "exchangeRoutingKeyType": "str",
        "exchangeDurable": false,
        "amqpProperties": "{ \"headers\": {} }",
        "rpcTimeoutMilliseconds": 3000,
        "outputs": 0,
        "x": 1790,
        "y": 160,
        "wires": []
    },
    {
        "id": "24f8f2e33fad8315",
        "type": "amqp-out",
        "z": "b4e3d0afb3f37109",
        "name": "",
        "broker": "d9e182c6cf4e826b",
        "exchangeName": "a1:6d:aa:21:44:ca",
        "exchangeType": "direct",
        "exchangeRoutingKey": "",
        "exchangeRoutingKeyType": "str",
        "exchangeDurable": false,
        "amqpProperties": "{ \"headers\": {} }",
        "rpcTimeoutMilliseconds": 3000,
        "outputs": 0,
        "x": 1790,
        "y": 200,
        "wires": []
    },
    {
        "id": "85bb392474fece94",
        "type": "amqp-out",
        "z": "b4e3d0afb3f37109",
        "name": "",
        "broker": "d9e182c6cf4e826b",
        "exchangeName": "a1:6d:aa:21:54:ca",
        "exchangeType": "direct",
        "exchangeRoutingKey": "",
        "exchangeRoutingKeyType": "str",
        "exchangeDurable": false,
        "amqpProperties": "{ \"headers\": {} }",
        "rpcTimeoutMilliseconds": 3000,
        "outputs": 0,
        "x": 1790,
        "y": 240,
        "wires": []
    },
    {
        "id": "d9e5777ed27d2f25",
        "type": "amqp-out",
        "z": "b4e3d0afb3f37109",
        "name": "",
        "broker": "d9e182c6cf4e826b",
        "exchangeName": "a1:6d:aa:21:64:ca",
        "exchangeType": "direct",
        "exchangeRoutingKey": "",
        "exchangeRoutingKeyType": "str",
        "exchangeDurable": false,
        "amqpProperties": "{ \"headers\": {} }",
        "rpcTimeoutMilliseconds": 3000,
        "outputs": 0,
        "x": 1790,
        "y": 280,
        "wires": []
    },
    {
        "id": "ca959a21ceb862f8",
        "type": "amqp-out",
        "z": "b4e3d0afb3f37109",
        "name": "",
        "broker": "d9e182c6cf4e826b",
        "exchangeName": "a1:6d:aa:21:74:ca",
        "exchangeType": "direct",
        "exchangeRoutingKey": "",
        "exchangeRoutingKeyType": "str",
        "exchangeDurable": false,
        "amqpProperties": "{ \"headers\": {} }",
        "rpcTimeoutMilliseconds": 3000,
        "outputs": 0,
        "x": 1790,
        "y": 320,
        "wires": []
    },
    {
        "id": "21041f1f821d5926",
        "type": "amqp-out",
        "z": "b4e3d0afb3f37109",
        "name": "",
        "broker": "d9e182c6cf4e826b",
        "exchangeName": "a1:6d:aa:21:84:ca",
        "exchangeType": "direct",
        "exchangeRoutingKey": "",
        "exchangeRoutingKeyType": "str",
        "exchangeDurable": false,
        "amqpProperties": "{ \"headers\": {} }",
        "rpcTimeoutMilliseconds": 3000,
        "outputs": 0,
        "x": 1790,
        "y": 360,
        "wires": []
    },
    {
        "id": "05be1f0cf2bcb7fe",
        "type": "amqp-out",
        "z": "b4e3d0afb3f37109",
        "name": "",
        "broker": "d9e182c6cf4e826b",
        "exchangeName": "a1:6d:aa:21:94:ca",
        "exchangeType": "direct",
        "exchangeRoutingKey": "",
        "exchangeRoutingKeyType": "str",
        "exchangeDurable": false,
        "amqpProperties": "{ \"headers\": {} }",
        "rpcTimeoutMilliseconds": 3000,
        "outputs": 0,
        "x": 1790,
        "y": 400,
        "wires": []
    },
    {
        "id": "45dd0955c44d3ae5",
        "type": "amqp-out",
        "z": "b4e3d0afb3f37109",
        "name": "",
        "broker": "d9e182c6cf4e826b",
        "exchangeName": "a1:6d:aa:31:14:ca",
        "exchangeType": "direct",
        "exchangeRoutingKey": "",
        "exchangeRoutingKeyType": "str",
        "exchangeDurable": false,
        "amqpProperties": "{ \"headers\": {} }",
        "rpcTimeoutMilliseconds": 3000,
        "outputs": 0,
        "x": 2030,
        "y": 80,
        "wires": []
    },
    {
        "id": "5384f4331eaad3f5",
        "type": "amqp-out",
        "z": "b4e3d0afb3f37109",
        "name": "",
        "broker": "d9e182c6cf4e826b",
        "exchangeName": "a1:6d:aa:31:24:ca",
        "exchangeType": "direct",
        "exchangeRoutingKey": "",
        "exchangeRoutingKeyType": "str",
        "exchangeDurable": false,
        "amqpProperties": "{ \"headers\": {} }",
        "rpcTimeoutMilliseconds": 3000,
        "outputs": 0,
        "x": 2030,
        "y": 120,
        "wires": []
    },
    {
        "id": "d0ac3c75674ec439",
        "type": "amqp-out",
        "z": "b4e3d0afb3f37109",
        "name": "",
        "broker": "d9e182c6cf4e826b",
        "exchangeName": "a1:6d:aa:31:34:ca",
        "exchangeType": "direct",
        "exchangeRoutingKey": "",
        "exchangeRoutingKeyType": "str",
        "exchangeDurable": false,
        "amqpProperties": "{ \"headers\": {} }",
        "rpcTimeoutMilliseconds": 3000,
        "outputs": 0,
        "x": 2030,
        "y": 160,
        "wires": []
    },
    {
        "id": "dce2488378fd5df3",
        "type": "amqp-out",
        "z": "b4e3d0afb3f37109",
        "name": "",
        "broker": "d9e182c6cf4e826b",
        "exchangeName": "a1:6d:aa:31:44:ca",
        "exchangeType": "direct",
        "exchangeRoutingKey": "",
        "exchangeRoutingKeyType": "str",
        "exchangeDurable": false,
        "amqpProperties": "{ \"headers\": {} }",
        "rpcTimeoutMilliseconds": 3000,
        "outputs": 0,
        "x": 2030,
        "y": 200,
        "wires": []
    },
    {
        "id": "8a8d7ed955660119",
        "type": "amqp-out",
        "z": "b4e3d0afb3f37109",
        "name": "",
        "broker": "d9e182c6cf4e826b",
        "exchangeName": "a1:6d:aa:31:54:ca",
        "exchangeType": "direct",
        "exchangeRoutingKey": "",
        "exchangeRoutingKeyType": "str",
        "exchangeDurable": false,
        "amqpProperties": "{ \"headers\": {} }",
        "rpcTimeoutMilliseconds": 3000,
        "outputs": 0,
        "x": 2030,
        "y": 240,
        "wires": []
    },
    {
        "id": "494c1dda978d42e2",
        "type": "amqp-out",
        "z": "b4e3d0afb3f37109",
        "name": "",
        "broker": "d9e182c6cf4e826b",
        "exchangeName": "a1:6d:aa:31:64:ca",
        "exchangeType": "direct",
        "exchangeRoutingKey": "",
        "exchangeRoutingKeyType": "str",
        "exchangeDurable": false,
        "amqpProperties": "{ \"headers\": {} }",
        "rpcTimeoutMilliseconds": 3000,
        "outputs": 0,
        "x": 2030,
        "y": 280,
        "wires": []
    },
    {
        "id": "d39ee8a2e5e0e56d",
        "type": "amqp-out",
        "z": "b4e3d0afb3f37109",
        "name": "",
        "broker": "d9e182c6cf4e826b",
        "exchangeName": "a1:6d:aa:31:74:ca",
        "exchangeType": "direct",
        "exchangeRoutingKey": "",
        "exchangeRoutingKeyType": "str",
        "exchangeDurable": false,
        "amqpProperties": "{ \"headers\": {} }",
        "rpcTimeoutMilliseconds": 3000,
        "outputs": 0,
        "x": 2030,
        "y": 320,
        "wires": []
    },
    {
        "id": "6da42e2c84fe600d",
        "type": "amqp-out",
        "z": "b4e3d0afb3f37109",
        "name": "",
        "broker": "d9e182c6cf4e826b",
        "exchangeName": "a1:6d:aa:31:84:ca",
        "exchangeType": "direct",
        "exchangeRoutingKey": "",
        "exchangeRoutingKeyType": "str",
        "exchangeDurable": false,
        "amqpProperties": "{ \"headers\": {} }",
        "rpcTimeoutMilliseconds": 3000,
        "outputs": 0,
        "x": 2030,
        "y": 360,
        "wires": []
    },
    {
        "id": "1816846a611ab421",
        "type": "amqp-out",
        "z": "b4e3d0afb3f37109",
        "name": "",
        "broker": "d9e182c6cf4e826b",
        "exchangeName": "a1:6d:aa:31:94:ca",
        "exchangeType": "direct",
        "exchangeRoutingKey": "",
        "exchangeRoutingKeyType": "str",
        "exchangeDurable": false,
        "amqpProperties": "{ \"headers\": {} }",
        "rpcTimeoutMilliseconds": 3000,
        "outputs": 0,
        "x": 2030,
        "y": 400,
        "wires": []
    },
    {
        "id": "1b89524f1577755a",
        "type": "amqp-out",
        "z": "b4e3d0afb3f37109",
        "name": "",
        "broker": "d9e182c6cf4e826b",
        "exchangeName": "a1:6d:aa:41:14:ca",
        "exchangeType": "direct",
        "exchangeRoutingKey": "",
        "exchangeRoutingKeyType": "str",
        "exchangeDurable": false,
        "amqpProperties": "{ \"headers\": {} }",
        "rpcTimeoutMilliseconds": 3000,
        "outputs": 0,
        "x": 2270,
        "y": 80,
        "wires": []
    },
    {
        "id": "fb49df408604166d",
        "type": "amqp-out",
        "z": "b4e3d0afb3f37109",
        "name": "",
        "broker": "d9e182c6cf4e826b",
        "exchangeName": "a1:6d:aa:41:24:ca",
        "exchangeType": "direct",
        "exchangeRoutingKey": "",
        "exchangeRoutingKeyType": "str",
        "exchangeDurable": false,
        "amqpProperties": "{ \"headers\": {} }",
        "rpcTimeoutMilliseconds": 3000,
        "outputs": 0,
        "x": 2270,
        "y": 120,
        "wires": []
    },
    {
        "id": "57573fcc7349751c",
        "type": "amqp-out",
        "z": "b4e3d0afb3f37109",
        "name": "",
        "broker": "d9e182c6cf4e826b",
        "exchangeName": "a1:6d:aa:41:34:ca",
        "exchangeType": "direct",
        "exchangeRoutingKey": "",
        "exchangeRoutingKeyType": "str",
        "exchangeDurable": false,
        "amqpProperties": "{ \"headers\": {} }",
        "rpcTimeoutMilliseconds": 3000,
        "outputs": 0,
        "x": 2270,
        "y": 160,
        "wires": []
    },
    {
        "id": "a3755f80c0b21eab",
        "type": "amqp-out",
        "z": "b4e3d0afb3f37109",
        "name": "",
        "broker": "d9e182c6cf4e826b",
        "exchangeName": "a1:6d:aa:41:44:ca",
        "exchangeType": "direct",
        "exchangeRoutingKey": "",
        "exchangeRoutingKeyType": "str",
        "exchangeDurable": false,
        "amqpProperties": "{ \"headers\": {} }",
        "rpcTimeoutMilliseconds": 3000,
        "outputs": 0,
        "x": 2270,
        "y": 200,
        "wires": []
    },
    {
        "id": "56dbe0b9b0d7fcdc",
        "type": "amqp-out",
        "z": "b4e3d0afb3f37109",
        "name": "",
        "broker": "d9e182c6cf4e826b",
        "exchangeName": "a1:6d:aa:41:54:ca",
        "exchangeType": "direct",
        "exchangeRoutingKey": "",
        "exchangeRoutingKeyType": "str",
        "exchangeDurable": false,
        "amqpProperties": "{ \"headers\": {} }",
        "rpcTimeoutMilliseconds": 3000,
        "outputs": 0,
        "x": 2270,
        "y": 240,
        "wires": []
    },
    {
        "id": "b63f74375beaff76",
        "type": "amqp-out",
        "z": "b4e3d0afb3f37109",
        "name": "",
        "broker": "d9e182c6cf4e826b",
        "exchangeName": "a1:6d:aa:41:64:ca",
        "exchangeType": "direct",
        "exchangeRoutingKey": "",
        "exchangeRoutingKeyType": "str",
        "exchangeDurable": false,
        "amqpProperties": "{ \"headers\": {} }",
        "rpcTimeoutMilliseconds": 3000,
        "outputs": 0,
        "x": 2270,
        "y": 280,
        "wires": []
    },
    {
        "id": "31e3e48081d1e25b",
        "type": "amqp-out",
        "z": "b4e3d0afb3f37109",
        "name": "",
        "broker": "d9e182c6cf4e826b",
        "exchangeName": "a1:6d:aa:41:74:ca",
        "exchangeType": "direct",
        "exchangeRoutingKey": "",
        "exchangeRoutingKeyType": "str",
        "exchangeDurable": false,
        "amqpProperties": "{ \"headers\": {} }",
        "rpcTimeoutMilliseconds": 3000,
        "outputs": 0,
        "x": 2270,
        "y": 320,
        "wires": []
    },
    {
        "id": "2f56dd4fbf27456e",
        "type": "amqp-out",
        "z": "b4e3d0afb3f37109",
        "name": "",
        "broker": "d9e182c6cf4e826b",
        "exchangeName": "a1:6d:aa:41:84:ca",
        "exchangeType": "direct",
        "exchangeRoutingKey": "",
        "exchangeRoutingKeyType": "str",
        "exchangeDurable": false,
        "amqpProperties": "{ \"headers\": {} }",
        "rpcTimeoutMilliseconds": 3000,
        "outputs": 0,
        "x": 2270,
        "y": 360,
        "wires": []
    },
    {
        "id": "c6f599aefbac05d4",
        "type": "amqp-out",
        "z": "b4e3d0afb3f37109",
        "name": "",
        "broker": "d9e182c6cf4e826b",
        "exchangeName": "a1:6d:aa:41:94:ca",
        "exchangeType": "direct",
        "exchangeRoutingKey": "",
        "exchangeRoutingKeyType": "str",
        "exchangeDurable": false,
        "amqpProperties": "{ \"headers\": {} }",
        "rpcTimeoutMilliseconds": 3000,
        "outputs": 0,
        "x": 2270,
        "y": 400,
        "wires": []
    },
    {
        "id": "b6a387f26aaa13dc",
        "type": "function",
        "z": "b4e3d0afb3f37109",
        "name": "function 52",
        "func": "msg.buffer = msg.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 140,
        "wires": [
            [
                "326cc2d674c9071b"
            ]
        ]
    },
    {
        "id": "2c5493c17e546dc1",
        "type": "comment",
        "z": "b4e3d0afb3f37109",
        "name": "Verarbeitung Topic-Daten",
        "info": "",
        "x": 190,
        "y": 700,
        "wires": []
    },
    {
        "id": "93df37bf11bbc1e4",
        "type": "mqtt in",
        "z": "b4e3d0afb3f37109",
        "name": "",
        "topic": "veranstaltung/#",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "bc0c28a7c7257b64",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 440,
        "y": 760,
        "wires": [
            [
                "0ec06eb2c665e60b",
                "183e783bc2450286"
            ]
        ]
    },
    {
        "id": "0ec06eb2c665e60b",
        "type": "function",
        "z": "b4e3d0afb3f37109",
        "name": "function 55",
        "func": "const currentTime = new Date().toLocaleTimeString();\nconst now = new Date();\nconst day = String(now.getDate()).padStart(2, '0');\nconst month = String(now.getMonth() + 1).padStart(2, '0');\nconst year = String(now.getFullYear());\n\nconst currentDate = `${day}.${month}.${year}`;\nmsg.payload.timeUpdated = currentTime;\nmsg.payload.timeDate = currentDate;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 760,
        "wires": [
            [
                "3ee7ff09dfdc7818"
            ]
        ]
    },
    {
        "id": "b58c931dba5ccecc",
        "type": "amqp-out",
        "z": "b4e3d0afb3f37109",
        "name": "",
        "broker": "d9e182c6cf4e826b",
        "exchangeName": "Produktion",
        "exchangeType": "direct",
        "exchangeRoutingKey": "Produktion",
        "exchangeRoutingKeyType": "str",
        "exchangeDurable": true,
        "amqpProperties": "{ \"headers\": {} }",
        "rpcTimeoutMilliseconds": 3000,
        "outputs": 0,
        "x": 1720,
        "y": 740,
        "wires": []
    },
    {
        "id": "3ee7ff09dfdc7818",
        "type": "switch",
        "z": "b4e3d0afb3f37109",
        "name": "",
        "property": "payload.weight",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lte",
                "v": "0.5",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1010,
        "y": 760,
        "wires": [
            [
                "fc21603dedd48ebb"
            ],
            [
                "8eba7b3acabecc7d"
            ]
        ]
    },
    {
        "id": "fc21603dedd48ebb",
        "type": "function",
        "z": "b4e3d0afb3f37109",
        "name": "function 56",
        "func": "msg.payload.production = true;\nmsg.payload.productionRef = msg.topic+\"/production\"\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1280,
        "y": 740,
        "wires": [
            [
                "71baa13cbb5ee981",
                "fad78424844e8470"
            ]
        ]
    },
    {
        "id": "8eba7b3acabecc7d",
        "type": "function",
        "z": "b4e3d0afb3f37109",
        "name": "function 57",
        "func": "\nmsg.payload.production = false;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1250,
        "y": 800,
        "wires": [
            [
                "71baa13cbb5ee981"
            ]
        ]
    },
    {
        "id": "71baa13cbb5ee981",
        "type": "function",
        "z": "b4e3d0afb3f37109",
        "name": "function 58",
        "func": "global.set(msg.topic, msg.payload);\nif(global.get(\"veranstaltung\")!=null){\n    var ver = global.get(\"veranstaltung\")\n    var text = msg.topic\n    var i = text.search(\"/buffet\");\n    text = text.slice(14, i);\n\n    if (ver.includes(text)) {\n\n    } else {\n        ver.push(text);\n        global.set(\"veranstaltung\", ver);\n    }\n\n} else {\n    var text = msg.topic\n    var t = [];\n    var i = text.search(\"/buffet\");\n    text = text.slice(14, i);\n    t.push(text);\n    global.set(\"veranstaltung\", t);\n}\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1470,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "fad78424844e8470",
        "type": "function",
        "z": "b4e3d0afb3f37109",
        "name": "function 59",
        "func": "delete msg.payload.temperature\ndelete msg.payload.weight\nmsg.payload.topic = msg.topic;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1470,
        "y": 740,
        "wires": [
            [
                "b58c931dba5ccecc"
            ]
        ]
    },
    {
        "id": "78ad8d8cc0ae91c1",
        "type": "comment",
        "z": "b4e3d0afb3f37109",
        "name": "Bereitstellung Topic-Daten",
        "info": "",
        "x": 150,
        "y": 1100,
        "wires": []
    },
    {
        "id": "c90d7cc87de1c517",
        "type": "http in",
        "z": "b4e3d0afb3f37109",
        "name": "",
        "url": "/veranstaltung",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 230,
        "y": 1320,
        "wires": [
            [
                "a28b12a820df8ec9"
            ]
        ]
    },
    {
        "id": "a28b12a820df8ec9",
        "type": "function",
        "z": "b4e3d0afb3f37109",
        "name": "function 60",
        "func": "msg.payload = global.get(\"veranstaltung\")\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 1320,
        "wires": [
            [
                "e6e1a020e1b802d1"
            ]
        ]
    },
    {
        "id": "e6e1a020e1b802d1",
        "type": "http response",
        "z": "b4e3d0afb3f37109",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 990,
        "y": 1320,
        "wires": []
    },
    {
        "id": "de2bd761cfb89d4b",
        "type": "comment",
        "z": "b4e3d0afb3f37109",
        "name": "Für Wächter",
        "info": "",
        "x": 130,
        "y": 1440,
        "wires": []
    },
    {
        "id": "e2f0b38a4e7fd55e",
        "type": "mqtt out",
        "z": "b4e3d0afb3f37109",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "bc0c28a7c7257b64",
        "x": 550,
        "y": 1440,
        "wires": []
    },
    {
        "id": "2335176cf581f2ac",
        "type": "inject",
        "z": "b4e3d0afb3f37109",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "2",
        "topic": "active/ueberwachung",
        "payload": "Aktiv",
        "payloadType": "str",
        "x": 340,
        "y": 1440,
        "wires": [
            [
                "e2f0b38a4e7fd55e"
            ]
        ]
    },
    {
        "id": "934935f620c7c5e3",
        "type": "debug",
        "z": "b4e3d0afb3f37109",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1060,
        "y": 640,
        "wires": []
    },
    {
        "id": "183e783bc2450286",
        "type": "switch",
        "z": "b4e3d0afb3f37109",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "veranstaltung/Hochzeit-Maiers/buffet/4/chafingdish/9",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 830,
        "y": 660,
        "wires": [
            [
                "934935f620c7c5e3"
            ]
        ]
    },
    {
        "id": "bc0c28a7c7257b64",
        "type": "mqtt-broker",
        "name": "Ueberwachung Core",
        "broker": "192.168.178.75",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "error/ueberwachung",
        "birthQos": "0",
        "birthPayload": "Verbindung zum Broker verloren",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "d9e182c6cf4e826b",
        "type": "amqp-broker",
        "name": "rabbitmq",
        "host": "192.168.178.75",
        "port": "5672",
        "vhost": "",
        "tls": false,
        "credsFromSettings": false
    }
]